.fullHeight {
  height: 100vh;
}

.sidebar {
  height: 100vh;
  overflow: scroll;
}

@media (max-width: 768px) {
  .fullHeight {
    height: auto;
  }
  
  .sidebar {
    height: auto;
    overflow: initial;
  }
}