.unset-square {
  width: 50px;
  height: 50px;
  background: lightgrey;
  border: transparent;
  border-radius: 25px;
  transition: border-radius 0.2s ease-in-out, background 0.2s ease-in-out;
}

.unset-square:hover {
  background: darkgrey;
  border-radius: 5px;
}

.unset-square:focus { 
  outline: none !important 
}

.square {
  height: 50px;
  width: 50px;
  border: transparent;
  border-radius: 25px;
  color: white;
}


.square:focus { 
  outline: none !important 
}